body {
	padding: 0px;
	margin: 0px;
	font-family: arial, sans-serif;
	overflow-x: hidden;
	background-color: #df8541;
	
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    
}
.grid {
	width: 50%;
	position: relative;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px 50px 50px 50px;
	border: 2px solid #cbcbcb;
	box-shadow: 10px 15px 5px  rgba(38, 38, 40, 0.5);
	margin-bottom: 30px;
	
}
.foto{
	display: inline-block;
	position: relative;
	width: 100%;
	height: auto;
	top: 80px;
	z-index: 1;

}



#logo{
	position: absolute;
	float: top;
	top: 14px;
	height: 55px;
	width: 250px;

}



#mjr1 {
	width: 75%;
	height: 65%;
	display: inline-block;
	margin-top: 100px;
	z-index: 3;
	padding-left: 12%

}

#mjr2 {
	width: 75%;
	height: 65%;
	display: inline-block;
	margin-top: 100px;
	z-index: 3;
	padding-left: 12%

}

#mjr3 {
	width: 75%;
	height: 65%;
	display: inline-block;
	margin-top: 100px;
	z-index: 3;
	padding-left: 12%

}

#cmd {
	font-size: 200%;
	top: 20%;
	left:	50%;
    transform: translate(-50%, -50%);
	position: absolute;
	text-align: justify;
	white-space: pre-line;
    color: #eb7b23;
    z-index: 3;
    

}

#button {
	position: absolute;
	background-color: #eb7b23;
    color: white;
    padding: 10px 22px;
    text-align: justify;
    display: inline-block;
    top: 30%;
    left: 50%;
   	transform: translate(-50%, -50%);
   	z-index: 3;
    
   
    
}
.div {
	min-height: 340px;
}
 





 	#rij1 {
	text-align: center;
    
    

}
	#rij2 {
	
		text-align: center;
 }

 #rij3 {
	text-align: center;
	}


h1 {
	font-size: 200%;
	
	text-align: center;
	
    color: black;
}

#jaar1 {
	top: 1350px;
	left: 350px;
	font-size: 100%;
	position: absolute;
	text-align: justify;
	color: black;
}



#najaar1 {
	top: 1550px;
	left: 300px;
	font-size: 100%;
	position: absolute;
	text-align: justify;
	color: black;
	max-width: 37%;
}



#stage {
	top: 1829px;
	left: 300px;
	font-size: 100%;
	position: absolute;
	text-align: justify;
	color: black;
	max-width: 37%;
}

	#p1, #p2, h2 {
		text-align: center;
	}



	#info {
		
		width: 100%;
		height: 100%;
	}

	#footer {
    height: 140px;
    display: inline;
    width: 100%;
}

#footerInfo {
    text-align: center;
    background-color: darkorange;
    padding-top: 30px;
}


#footerInfo > ul >li {
    display: inline;
    margin: 0 10%;
    
}

#social {
    background-image: url(social.png);
    background-size: cover;
}

.logo {
	z-index: 3;
	position: relative;
	float: left;
	width: 20%;
	margin-top: -1em;
	height: auto;
}

